.explore{
    text-align: center;
    .col2{
        display: inline-block;
    }
    h2{
         text-align: center;
         font-size: 22px;
         color: #3E3D32;
         padding-top: 2em;
     }
    a{
        padding: 10px;
        font-size: 16px;
        display: block;
    }
    section{
        padding: 20px;
    }
  .cur{
    color: rgb(255, 255, 255);
    background: rgb(8, 186, 109);
  }
  h1{
    font-size: 30px;
  }
}
