.explore{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 22px;
    color: #3E3D32;
    padding-top: 2em;
}
.explore a{
    background: #08ba6d;
    padding: 2px 10px;
    color: #fff;
    font-size: 16px;
    display: block;
    border-radius: 4px;
}

.explore li{
    display: inline-block;
    margin: 10px;
}