<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name=" apple-mobile-web-app-capable" />
    <title>教育助学</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" href="lib/weui/dist/style/weui.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="toper">
        <div class="sub-banner">
            <a href="javascript:history.back();"><img src="img/arrow_left.png" alt=""></a>
            <img src="img/title_edu.png" alt="">
        </div>
    </div>

    <div class="srh">
        <div class="container">
            <input type="text" placeholder="请输入政策内容关键字"
                   v-on:keyup.13="srh()"
                   v-model="keyWord">
            <a href="javascript:void(0);" @click="srh()"><i class="icon iconfont">&#xe618;</i></a>
        </div>
    </div>

    <div class="list">
        <ul>
            <li v-for="item in renderObj.listArr">
                <img class="hot-icon" src="img/hot.png" alt="" width="35" v-show="($index == 0||$index == 1||$index == 2) && !searchMode">
                <a href="javascript:void(0)" @click="goDetails(item.id)">{{item.serviceName}}</a>
            </li>
        </ul>

        <div class="loadmore" v-show="bottomTxt !== '' ">
            {{bottomTxt}}
        </div>
    </div>

    <div class="no-res" v-show="searchMode && renderObj.listArr==''">
        <div class="container">
            <img src="img/nores.png" alt="">
            <h4>无搜索结果</h4>
        </div>
    </div>

    <div class="no-res" v-show="!searchMode && renderObj.listArr == ''">
        <div class="container">
            <img src="img/nodata.png" alt="">
            <h4>没有数据~</h4>
        </div>
    </div>
</body>
<script data-main="js/edu" src="lib/requirejs/require.js"></script>
</html>