.main-header {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 60px;
  line-height: 60px;
}
.main-header .nav {
  transition: opacity 250ms ease-in-out;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  li {
    color: #71777c;
    font-size: 16px;
    justify-content: center;
    a {
      padding: 10px;
      height: 50px;
      color: #71777c;
    }
    &.fl {
      border-left: 1px solid #eee;
      float: left;
    }
    &.fr {
      border-right: 1px solid #eee;
      float: right;
    }
    &.login_visable {
      display: none;
    }
  }
}
