/* login page style */

.form {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 80px;
  li {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color: #575757;
    position: relative;
    &.form_border {
      padding-top: 40px;
      border-bottom: 1px solid #eee;
    }
    &.form_pw {
      padding-bottom: 40px;
    }
    &.form-top {
      padding-top: 40px;
    }
    .segmentation {
      background: #eeeeee;
      border-radius: 5px;
      display: inline-block;
      width: 74px;
      height: 6px;
    }
    input {
      border: none;
      text-align: center;
      outline: none;
      width: 100%;
    }
    span.error {
      color: #f00;
      position: absolute;
      right: -115px;
      font-size: 12px;
      line-height: 15px;
      bottom: 8px;
      width: 110px;
      text-align: left;
    }
    .form_submit {
      border: 1px solid #c9c9c9;
      width: 100%;
      background: #ffffff;
      height: 45px;
      line-height: 45px;
      color: #727272;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      font-size: 14px;
    }
    .remmber_input {
      width: auto;
    }
    .remmber_pw {
      font-size: 14px;
      margin-left: 5px;
    }
  }
  .tips-show {
    display: block;
  }
}
